In [85]:
import pandas as pd

from sklearn.compose import ColumnTransformer 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [86]:
cars = pd.read_csv("C:\\Users\\pcoda\\OneDrive\\Dataset{Manually}\\cars.csv")
cars

        brand  km_driven    fuel                 owner  selling_price
0      Maruti     145500  Diesel           First Owner         450000
1       Skoda     120000  Diesel          Second Owner         370000
2       Honda     140000  Petrol           Third Owner         158000
3     Hyundai     127000  Diesel           First Owner         225000
4      Maruti     120000  Petrol           First Owner         130000
...       ...        ...     ...                   ...            ...
8123  Hyundai     110000  Petrol           First Owner         320000
8124  Hyundai     119000  Diesel  Fourth & Above Owner         135000
8125   Maruti     120000  Diesel           First Owner         382000
8126     Tata      25000  Diesel           First Owner         290000
8127     Tata      25000  Diesel           First Owner         290000

[8128 rows x 5 columns]

In [87]:
cars['owner'].unique()

array(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'], dtype=object)

In [88]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(cars.drop(columns='brand'),cars['selling_price'],test_size=0.2)

In [89]:
X_train

      km_driven    fuel         owner  selling_price
2752      42000  Petrol  Second Owner         385000
3625     110000  Diesel   Third Owner         250000
1365       8576  Petrol   First Owner         680000
2456      56365  Diesel   First Owner         175000
4807     105000  Petrol   First Owner         132000
...         ...     ...           ...            ...
6040     100000  Petrol   First Owner         220000
6376      50000  Petrol   First Owner         625000
7763      36521  Diesel   First Owner         725000
3896      25000  Petrol  Second Owner         411000
545       60000  Petrol   First Owner         236000

[6502 rows x 4 columns]

In [90]:
y_train

2752    385000
3625    250000
1365    680000
2456    175000
4807    132000
         ...
6040    220000
6376    625000
7763    725000
3896    411000
545     236000
Name: selling_price, Length: 6502, dtype: int64

- **ColumnTransformer(transformers=[], remainder='passthrough')** we pass list of transformers and remainder has 2 values passthrough and drop , passthrough means je column ma transform nathy karvanu tene emnem j rakhse and if i write drop then it removes those column jema transform nthy thavanu

- transformers=[] : we pass tuples of transformer inside list of transformers

transformers = [ <br>
    <t>(transf_name, transformer(), applying_columns)<br>
]

In [91]:
category_owner = [['First Owner', 'Second Owner', 'Third Owner','Fourth & Above Owner', 'Test Drive Car']]

In [92]:
# we do simple imputer on km_driven, ordinal on owner, ohe on fuel 

Transformer = ColumnTransformer(transformers=[
    ('transformer-1', SimpleImputer(), ['km_driven']),
    ('transformer-2', OrdinalEncoder(categories = category_owner), ['owner']),
    ('transformer-3', OneHotEncoder(drop='first'), ['fuel'])
    ], remainder='passthrough')

In [93]:
X_train.shape

(6502, 4)

In [98]:
Transformer.fit_transform(X_train).shape

(6502, 6)

In [99]:
Transformer.transform(X_test).shape

(1626, 6)